<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="./scripts/index.js" defer></script>
    <link rel="stylesheet" href="style.css">
    <title>BibliotecaJS</title>
</head>
<body">
    <header>
        <!-- Títulos -->
        teste
        <h1>BibliotecaJS</h1>
        <h2>Categorias</h2>
    </header>
    <main>
        <!-- Botão nova categoria -->
        <section class="sectionNovaCategoria">
            <button id="btnNovaCategoria">nova categoria</button>
        </section>

        <section class="tabelas">
            <article class="artTabelaCategorias">
                <!-- Tabelas de categorias -->
                <table id="tabelaCategorias">
                    <tr>
                        <th>id</th>
                        <th>nome</th>
                    </tr>
                </table>
            </article>

            <article class="artTabelaLivros">
                <!-- Tabela de livros -->
                <table id="tabelaLivros" class="tabelaLivros">
                </table>
            </article>
        </section>

        <section class="modais">
            <!-- Modal de novo categoria -->
            <div id="modalNovaCategoria" class="modalNovaCategoria">
                <h3>Nova Categoria</h3>
                <form id="formNovaCategoria">
                    <label for="inputNomeCategoria">Nome Categoria</label>
                    <input id="inputNomeCategoria" type="text" name="inputNomeCategoria"
                        placeholder="Insira aqui o nome da nova categoria">
                    <button id="btnInserirNovaCat" type="submit" value="submit">Inserir nova categoria</button>
                    <button id="btnCancelaNovaCat">Cancelar</button>
                </form>
            </div>

            <!-- Modal editar categoria: -->
            <div id="modalEditaCategoria" class="modalEditaCategoria">
                <h3>Editar categoria</h3>
                <form id="formEditarCategoria">
                    <label for="inputEditaCategoria">Nome Categoria</label>
                    <input id="inputEditaCategoria" type="text" name="inputEditaCategoria">
                    <button id="btnEditaCategoria" type="submit" value="submit">Alterar categoria</button>
                    <button id="btnCancelaEditaCat">Cancelar</button>
                </form>
            </div>

            <!-- Modal novo livro: -->
            <div id="modalNovoLivro" class="modalNovoLivro">
                <h3>Novo livro:</h3>
                <form id="formNovoLivro">
                    <label for="inputNovoLivro">Nome livro</label>
                    <input id="inputNovoLivro" type="text" name="inputNovoLivro" placeholder="Insira aqui o nome do novo livro">
                    <label for="inputAutorLivro">Nome do autor</label>
                    <input id="inputAutorLivro" type="text" name="inputAutorLivro" placeholder="Insira aqui o nome do autor">
                    <button id="btnInserirNovoLivro" type="submit" value="submit">Inserir novo livro</button>
                    <button id="btnCancelaNovoLivro">Cancelar</button>
                </form>
            </div>

            <!-- Modal editar livro -->
            <div id="modalEditaLivro" class="modalEditaLivro">
                <h3>Editar livro:</h3>
                <form id="formEditaLivro">
                    <label for="inputEditaNomeLivro">Título do livro</label>
                    <input id="inputEditaLivro" type="text" name="inputEditaNomeLivro">
                    <label for="inputEditaAutorLivro">Nome do autor</label>
                    <input id="inputEditaAutorLivro" type="text" name="inputEditaAutorLivro">
                    <button id="btnEditaLivro" type="submit" value="submit">Alterar livro</button>
                    <button id="btnCancelaEditaLivro">Cancelar</button>
                </form>
            </div>
        </section>
    </main>
</body>
</html>