.modalNovaCategoria,
.modalEditaCategoria,
.modalNovoLivro,
.modalEditaLivro,
.tabelaLivros {
    display: none;
}

.modalNovaCategoria.show,
.modalEditaCategoria.show,
.modalNovoLivro.show,
.modalEditaLivro.show,
.tabelaLivros.show {
    display: block;
}
body {
    font-family: 'Nunito Sans', sans-serif;
}

header {
    margin: 30px;
}

h1 {
    color: #5F20E5;
    font-size: larger;
}

h2 {
    font-size: large;
}

main {
    margin: 20px;
    font-size: small;
}

#sectionNovaCategoria{
text-align: end;
}

#tabelas {
    display: flex;
}

#btnNovaCategoria {
    background-color: #5F20E5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px;
}

#btnNovaCategoria:hover {
    background-color: #7D40FE;
    transition: 0.5s;
    cursor: pointer;
}

#tabelaCategorias {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 600px;
    min-width: 600px;
    text-align: left;
}

#tabelaLivros {
    background-color: #E5E5E5;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 520px;
    min-width: 520px;
    min-height: 300px;
    text-align: left;

    position: absolute;
    left: 650px;
    top: 140px;
}

#tableHeader {
    font-weight: bolder;
    color: #5F20E5;
}

#captionLivros {
    font-size: medium;
    font-weight: bolder;
    text-align: left;
    background-color: #B6A5DC;
    min-width: 460px;
    width: 460px;
    border-radius: 5px;
    padding: 10px;
}

#btnMostrarLivrosNovoLivro {
    background-color: #5F20E5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    margin: 5px;
}

#btnMostrarLivrosNovoLivro:hover {
    background-color: #7D40FE;
    transition: 0.5s;
    cursor: pointer;
}

#btnEditar {
    background-color: #E0AB22;
    color: white;
    border-radius: 5px;
    padding: 5px 8px;
    margin: 5px;
    border: none;
}

#btnEditar:hover {
    background-color: #F0C350;
    transition: 0.5s;
    cursor: pointer;
}

#btnDeletar {
    background-color: #E54320;
    color: white;
    border-radius: 5px;
    padding: 5px 8px;
    margin: 5px;
    border: none;
}

#btnDeletar:hover{
    background-color: #EF6041;
    transition: 0.5s;
    cursor: pointer; 
}

#modalNovaCategoria,
#modalEditaCategoria,
#modalNovoLivro,
#modalEditaLivro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;
    width: 500px;
    height: fit-content;
    background-color: white;
    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: bold;
    padding: 30px;
}

.modalTitle {
    color:#5F20E5
}

#inputNomeCategoria,
#inputEditaCategoria,
#inputNovoLivro,
#inputAutorLivro,
#inputEditaLivro,
#inputEditaAutorLivro {
    border: solid 1px #B6A5DC;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    font-weight: lighter;
    color: #9E9E9E;
    padding: 10px;
    margin: 20px;
    margin-left: 0px;
    margin-top: 5px;
    width: 95%;
}

#inputNomeCategoria:focus,
#inputEditaCategoria:focus,
#inputNovoLivro:focus,
#inputAutorLivro:focus,
#inputEditaLivro:focus,
#inputEditaAutorLivro:focus {
    border: solid 2px #5F20E5 !important;
    box-shadow: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#btnInserirNovaCat,
#btnEditaCategoria,
#btnInserirNovoLivro,
#btnEditaLivro {
    background-color: #069B5C;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px;
    cursor: pointer;
}

#btnInserirNovaCat:hover,
#btnEditaCategoria:hover,
#btnInserirNovoLivro:hover,
#btnEditaLivro:hover {
    background-color: #1DAE71;
    transition: 0.5s;
}

#btnCancelaNovaCat,
#btnCancelaEditaCat,
#btnCancelaNovoLivro,
#btnCancelaEditaLivro {
    background-color: #E54320;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px;
    cursor: pointer;
}

#btnCancelaNovaCat:hover,
#btnCancelaEditaCat:hover,
#btnCancelaNovoLivro:hover,
#btnCancelaEditaLivro:hover {
    background-color: #EF6041;
    transition: 0.5s;
}